.footer {
    position: relative;
    width: 100vw;
    min-height: 10vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 15px;
}

.footer h3 span {
    color: var(--primary-color);
}