* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  overflow-x: hidden;
}

.mains {
  background: url(./components/pict/background-main.svg);
  background-repeat: no-repeat;
  background-size: cover;
}